<h1 style="margin-bottom:0px;font-weight:bold;font-size:40px;">Budget Calculator</h1>
<div class="get_budget">
    <h4>Get your budget and then personalize it to your priorities and situation</h4>

    <div class="main_upper_budget">

        <div class="right_top_budget">
            <div class="sec_box needs">
                <div class="box_sec_thing">
                    <img src="/images/home.png" alt="">
                    <h4>Needs</h4>
                </div>
                <p>Things you must have or can't live without.</p>
                <p>Examples: housing, groceries, utilities, transportation, child care, debt payments</p>
            </div>

            <div class="sec_box wants">
                <div class="box_sec_thing">
                    <img src="/images/gift_pack.png" alt="">
                    <h4>Wants</h4>
                </div>

                <p>Things you can cut back on or do without.</p>
                <p>Examples: entertainment, dining out, clothing, splurges</p>
            </div>

            <div class="sec_box wants">
                <div class="box_sec_thing">
                    <img src="/images/wallet_discount.png" alt="">
                    <h4>Savings</h4>
                </div>

                <p>Money you save for future goals.</p>
                <p>Examples: emergency fund, home, vacation, retirement, financial freedom</p>
            </div>
        </div>
    </div>
</div>

<div id="mainContainer" style="background-color:white;">
    <form id="budget_form">
        <div class="right_reset" tabindex="0">
            <a class="reset" id="reset" tabindex="0">Reset All</a>
        </div>

        <h4>Enter your income to get your monthly budget</h4>

        <div class="form_group">
            <label for="budgetMethod">What budgeting method would you like? (Needs/Wants/Savings)</label>
            <select id="budgetMethod" tabindex="0" required="required">
                <option value="selectcard">--- Please select ---</option>
                <option value="option1">Low 50/30/20</option>
                <option value="option2">Moderate 50/20/30</option>
                <option value="option3">High 50/10/40</option>
            </select>
        </div>

        <div class="form_group">
            <label for="income_frequency">How often do you receive your income?</label>
            <select id="income_frequency" tabindex="0" required="required">
                <option value="selectcard">--- Please select ---</option>
                <option value="weekly">Weekly</option>
                <option value="every_week">Every Other Week</option>
                <option value="once_month">Once a Month</option>
                <option value="once_year">Once a Year</option>
            </select>
        </div>

        <div class="form_group">
            <label for="after_tax">What is your after-tax income?</label> $
            <input name="after_tax" tabindex="0" id="incomeText" type="text" inputmode="numeric" value="0" maxlength="9">

        </div>

    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <fieldset>
        <legend>Needs</legend>
        <table id="needsTable" class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Amount</td>
                </tr>
            </thead>

            <tr id="needstablerow0">
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" id="NeedName[0]" type="text" value="" required="required" />
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" id="NeedAmount[0]" type="text" value="" required="required" />
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="removeTr('needs',0,0);">Delete</button>
                </td>
                <td></td>
            </tr>

        </table>
        <p>
            <button id="addNeeds" type="button" class="btn btn-primary">Add</button>
        </p>
        <hr />
    </fieldset>
    <fieldset>
        <legend>Wants</legend>
        <table id="wantsTable" class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Amount</td>
                </tr>
            </thead>

            <tr id="wantstablerow0">
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" id="WantName[0]" type="text" value="" required="required" />
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" id="WantAmount[0]" type="text" value="" required="required" />
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="removeTr('wants',0,1);">Delete</button>
                </td>
                <td></td>
            </tr>

        </table>
        <p>
            <button id="addWants" type="button" class="btn btn-primary">Add</button>
        </p>
        <hr />

    </fieldset>
    <fieldset>
        <legend>Savings</legend>
        <table id="savingsTable" class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Amount</td>
                </tr>
            </thead>

            <tr id="savingstablerow0">
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" id="SavingName[0]" type="text" value="" required="required" />
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" id="SavingAmount[0]" type="text" value="" required="required" />
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="removeTr('savings',0,2);">Delete</button>
                </td>
                <td></td>
            </tr>

        </table>
        <p>
            <button id="addSavings" type="button" class="btn btn-primary">Add</button>
        </p>
        <hr />

    </fieldset>
    <p></p><button id="submitButton" type="button" class="btn btn-primary">Submit</button></p>
    <div id="bottomPlaceholder" hidden="hidden">
        <div class="grid-container" style="grid-template-columns:auto auto auto auto;">
            <div id="bottomGrid1" class="grid-item"></div>
            <div id="bottomGrid2" class="grid-item">Income</div>
            <div id="bottomGrid3" class="grid-item">Allocated</div>
            <div id="bottomGrid4" class="grid-item">Remaining</div>
            <div id="bottomGrid5" class="grid-item"></div>
            <div id="bottomGrid6" class="grid-item"></div>
            <div id="bottomGrid7" class="grid-item"></div>
            <div id="bottomGrid8" class="grid-item"></div>
            <div id="bottomGrid9" class="grid-item"></div>
            <div id="bottomGrid10" class="grid-item"></div>
            <div id="bottomGrid11" class="grid-item">Budget</div>
            <div id="bottomGrid12" class="grid-item">Difference</div>
            <div id="bottomGrid13" class="grid-item">Needs</div>
            <div id="bottomGrid14" class="grid-item"></div>
            <div id="bottomGrid15" class="grid-item"></div>
            <div id="bottomGrid16" class="grid-item"></div>
            <div id="bottomGrid17" class="grid-item">Wants</div>
            <div id="bottomGrid18" class="grid-item"></div>
            <div id="bottomGrid19" class="grid-item"></div>
            <div id="bottomGrid20" class="grid-item"></div>
            <div id="bottomGrid21" class="grid-item">Savings</div>
            <div id="bottomGrid22" class="grid-item"></div>
            <div id="bottomGrid23" class="grid-item"></div>
            <div id="bottomGrid24" class="grid-item"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var counter = [1, 1, 1];

    $(function () {
        $('#addNeeds').click(function () {
            $('<tr id="needstablerow' + counter[0] + '"><td>' +
                '<input type="text" class="text-box single-line" id="NeedName[' + counter[0] + ']" value="" required="required" />' +
                '</td>' +
                '<td>' +
                '<input type="text" class="text-box single-line" id="NeedAmount[' + counter[0] + ']" value="" required="required" />' +
                '</td>' +
                '<td>' +
                '<button type="button" class="btn btn-primary" onclick="removeTr(' + counter[0] + ',0);">Delete</button>' +
                '</td>' +
                '</tr>').appendTo('#needsTable');
            counter[0]++;
            return false;
        });
    });
    $(function () {
        $('#addWants').click(function () {
            $('<tr id="wantstablerow' + counter[1] + '"><td>' +
                '<input type="text" class="text-box single-line" id="WantName[' + counter[1] + ']" value="" required="required" />' +
                '</td>' +
                '<td>' +
                '<input type="text" class="text-box single-line" id="WantAmount[' + counter[1] + ']" value="" required="required" />' +
                '</td>' +
                '<td>' +
                '<button type="button" class="btn btn-primary" onclick="removeTr(' + counter[1] + ',1);">Delete</button>' +
                '</td>' +
                '</tr>').appendTo('#wantsTable');
            counter[1]++;
            return false;
        });
    });
    $(function () {
        $('#addSavings').click(function () {
            $('<tr id="savingstablerow' + counter[2] + '"><td>' +
                '<input type="text" class="text-box single-line" id="SavingName[' + counter[2] + ']" value="" required="required" />' +
                '</td>' +
                '<td>' +
                '<input type="text" class="text-box single-line" id="SavingAmount[' + counter[2] + ']" value="" required="required" />' +
                '</td>' +
                '<td>' +
                '<button type="button" class="btn btn-primary" onclick="removeTr(' + counter[2] + ',2);">Delete</button>' +
                '</td>' +
                '</tr>').appendTo('#savingsTable');
            counter[2]++;
            return false;
        });
    });
    $(function () {
        $('#submitButton').click(function () {
            document.getElementById("bottomPlaceholder").hidden = false;
            var results = getTableData();
            var incomeFreq = 0;
            var budgetMethod;
            var income = parseFloat(document.getElementById("incomeText").value);
            if ((incomeFreq = validateIncomeFrequency()) == false) {
                return ;
            }
            if ((budgetMethod = validateBudgetingMethod()) == false) {
                return ;
            }


            //Income
            document.getElementById("bottomGrid6").innerHTML = "$" + formatMoneyString(income * incomeFreq);
            //Allocated
            document.getElementById("bottomGrid7").innerHTML = "$" + formatMoneyString(results.reduce((partialSum, a) => partialSum + a, 0));
            //Remaining
            document.getElementById("bottomGrid8").innerHTML = "$" + formatMoneyString((income * incomeFreq) - results.reduce((partialSum, a) => partialSum + a, 0));
            //BudgetingAlgo
            document.getElementById("bottomGrid10").innerHTML = budgetMethod[0] + '\\' + budgetMethod[1] + '\\' + budgetMethod[2];
            //AllocNeeds,Wants,Savings
            document.getElementById("bottomGrid14").innerHTML = "$" + formatMoneyString((incomeFreq *income) * (budgetMethod[0]/100));
            document.getElementById("bottomGrid18").innerHTML = "$" + formatMoneyString((incomeFreq *income) * (budgetMethod[1]/100));
            document.getElementById("bottomGrid22").innerHTML = "$" + formatMoneyString((incomeFreq *income) * (budgetMethod[2]/100));

            //Budget
            document.getElementById("bottomGrid23").innerHTML = "$" + formatMoneyString(results[2]);
            document.getElementById("bottomGrid19").innerHTML = "$" + formatMoneyString(results[1]);
            document.getElementById("bottomGrid15").innerHTML = "$" + formatMoneyString(results[0]);

            //Difference
            document.getElementById("bottomGrid16").innerHTML = "$" + formatMoneyString((incomeFreq * income) * (budgetMethod[0] / 100) - results[0]);
            document.getElementById("bottomGrid20").innerHTML = "$" + formatMoneyString((incomeFreq * income) * (budgetMethod[1] / 100) - results[1]);
            document.getElementById("bottomGrid24").innerHTML = "$" + formatMoneyString((incomeFreq * income) * (budgetMethod[2] / 100) - results[2]);
        });
    });

    function validateBudgetingMethod() {
        var ddl = document.getElementById("budgetMethod");
        var selectedValue = ddl.options[ddl.selectedIndex].value;
        if (selectedValue == "selectcard") {
            alert("Please select a budgeting method");
            return false;
        }
        var result;
        switch (selectedValue) {
            case 'option1':
                result = [50, 30, 20];
                break;
            case 'option2':
                result = [50, 20, 30];
                break;
            case 'option3':
                result = [50, 10, 40];
                break;
        }
        return result;
    }

    function validateIncomeFrequency() {
        var ddl = document.getElementById("income_frequency");
        var selectedValue = ddl.options[ddl.selectedIndex].value;
        if (selectedValue == "selectcard") {
            alert("Please select an income frequency");
            return false;
        }

        switch (selectedValue) {
            case 'weekly':
                return (13/3);
            case 'every_week':
                return (13/6);
            case 'twice_month':
                return (1/6);
            case 'once_year':
                return (1/12);
        }
    }

    function formatMoneyString(num) {
        var str = num.toString().split('.');
        if (str[0].length >= 5) {
            str[0] = str[0].replace(/(\d)(?=(\d{3})+$)/g, '$1,');
        }
        if (str[1] && str[1].length >= 5) {
            str[1] = str[1].replace(/(\d{3})/g, '$1 ').substring(0,2);
        }
        return str.join('.');
    }

    function getTableData() {
        var results = [0, 0, 0];
        var tables = ['NeedAmount','WantAmount','SavingAmount']
        for (var x = 0; x < counter.length; x++) {
            for (var y = 0; y < counter[x]; y++) {
                if (parseFloat(document.getElementById(tables[x] + "[" + y + "]").value)) {
                    results[x] += parseFloat(document.getElementById(tables[x] + "[" + y + "]").value);
                }

            }
        }
        return results;
    };

    function removeTr(index, number) {
        var tempData = ["needstablerow", "wantstablerow", "savingstablerow"]

        if (counter[number] > 1) {
            $('#' + tempData[number].toString() + index).remove();
            counter[number]--;
        }
    }

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>